.aboutDiv {
  border-radius: 10px;
  padding-top: 0.5em;
  padding-right: 0.5em;
  line-height: 1.5em;
  overflow-y: scroll;
  max-height: 75%;
  color: #f7f3e6;
}
.cofffee {
  display: inline;
  font-size: x-large;
  border-radius: 10px;
  background-color: grey;
}
.bookworm {
  font-size: xx-large;
}
