.reservedBookDiv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #f7f3e6;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
  font-size: medium;
  text-align: center;
  border-radius: 20px;
  margin: 1rem;
}
.checkoutbooksDiv {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em !important;
}
.coverimage {
  height: 12em;
}
