.homePageDiv {
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 3px;
  background-color: rgba(135, 206, 250, 0.2);
  height: 65vh;
}
.event {
  height: 20em;
}
.eventImage {
  height: 200px;
  float: left;
  margin: 50px;
}
.eventsHeading{
  text-decoration: underline;
}
.infoSection{
  margin-top: 120px;
  margin-left: 10px;
}
