.navBar{
  display: flex;
  justify-content: space-around;
  font-size: large;
  margin: 10px;
   border-radius: 10px;
   background-color: rgba(135,206,250,0.2);
}
.highlight{
  border: 2px dashed brown;
  border-radius:10px;
  padding: 10px;
}
.normal{
  padding: 10px;
}