.selectedBookDiv {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 5em;
  line-height: 1.5em;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 3px;
  color: #f7f3e6;
}
.bold {
  font-weight: bold;
}
.coverImage {
  height: 200px;
  width: auto;
  float: inline-end;
  margin: 10px;
}
.checkout {
  width: fit-content;
  margin: 1em;
}
.backtoallbooks {
  font-weight: bold;
}
.checkoutMessage {
  font-weight: bold;
  padding-left: 20px;
  color: #f7f3e6;
}
