body {
  font-family:sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-evenly;
}

nav span{
  display: flex;
  justify-content: space-evenly;
}

nav a{
  text-decoration: none;
  font-weight: bold;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}